<div class="add-admin-container">
    <mat-toolbar> <span>ADD LOB</span></mat-toolbar>
    <mat-card class="my-card">
      <mat-card-content>
        <form
          class="my-form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
            
        <mat-form-field class="full-width" color="{{ env.themeColor }}">
            <mat-label>Add LOB</mat-label>
            <input
              matInput
              placeholder="LOB"
              name="lob"
              id="lob"
              required
            />
            <mat-hint align="end">Not more then 40 characters long.</mat-hint>
          </mat-form-field>
 
        
        </form>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button
          (click)="onSubmit()"
          color="{{ env.themeColor }}">
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  
  <div class="add-admin-container">
    <mat-toolbar> <span>ADD DM</span></mat-toolbar>
    <mat-card class="my-card">
      <mat-card-content>
        <form
          class="my-form"
          (ngSubmit)="f.form.valid && onSubmit()"
          #f="ngForm"
          novalidate
        >
            
        
          <mat-form-field class="full-width" color="{{ env.themeColor }}">
            <mat-label>Add DM</mat-label>
            <input
              matInput
              placeholder="DM"
              name="dm"
              id="dm"
              required
            />
            <mat-hint align="end">Not more then 40 characters long.</mat-hint>
          </mat-form-field>
  
        
        </form>
      </mat-card-content>

      <mat-card-actions>
        <button
          mat-raised-button
          (click)="onSubmit()"
          color="{{ env.themeColor }}">
          Submit
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
  