<div class="onborading-container">

  <mat-toolbar color={{env.themeColor}} class="onborading-toolbar">
   
      <button mat-icon-button (click)="snavParent.toggle(); snav.toggle(); ">
        <mat-icon>menu</mat-icon>
      </button>
      <h1 class="onborading-app-name">Employee Onboarding</h1>
  
    <mat-form-field class="margin-left70" color='primary'>
      <mat-label>Select Theme</mat-label>
      <mat-select [(value)]="env.themeColor">
        <mat-option value="accent">Accent</mat-option>
        <mat-option value="primary">Blue</mat-option>
        <mat-option value="warn">Red</mat-option>
      </mat-select>
    </mat-form-field>

  </mat-toolbar>

  <mat-sidenav-container class="onborading-sidenav-container">
    <!-- <mat-sidenav #sidenav1 opened mode="side" position="start" role="navigation" class="sidenav-wv"> -->
    <mat-sidenav opened class="side-nav" #snavParent mode="side">
      <mat-nav-list>
        <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
        <a mat-list-item routerLinkActive="active-link" routerLink="dashboard">
          <mat-icon color={{env.themeColor}}>home</mat-icon>
        </a>
        <a mat-list-item routerLinkActive="active-link" routerLink="add-employee">
          <mat-icon color={{env.themeColor}}>person_add</mat-icon>
        </a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>

      <mat-sidenav-container class="onborading-sidenav-container">

        <mat-sidenav class="side-nav" #snav mode="side">
          <mat-nav-list>
            <!-- <a mat-list-item routerLink="." *ngFor="let nav of fillerNav">{{nav}}</a> -->
            <a mat-list-item routerLinkActive="active-link" routerLink="dashboard">
              <mat-icon color={{env.themeColor}}>home</mat-icon> <span class="menu-text">Dashboard</span>
            </a>
            <a mat-list-item routerLinkActive="active-link" routerLink="add-employee">
              <mat-icon color={{env.themeColor}}>person_add</mat-icon> <span class="menu-text">Add Employee</span>
            </a>
          </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content class="onborading-sidenav-content">
          <div class="page-container">
            <mat-card class="employee-card">
              <mat-card-content>
                <router-outlet></router-outlet>
              </mat-card-content>
            </mat-card>
          </div>

        </mat-sidenav-content>

      </mat-sidenav-container>

    </mat-sidenav-content>
  </mat-sidenav-container>
</div>