<div class="add-employee-container">
        <mat-form-field color={{env.themeColor}}>
                <input matInput placeholder="Input">
        </mat-form-field>

        <mat-form-field color={{env.themeColor}}>
                <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>

        <mat-form-field color={{env.themeColor}}>
                <mat-select placeholder="Select">
                        <mat-option value="L1">L1</mat-option>
                        <mat-option value="L2">L2</mat-option>
                        <mat-option value="L3">L3</mat-option>
                </mat-select>
        </mat-form-field>
</div>