<div class="add-employee-container">
    <mat-toolbar> <span>Employee Registration</span></mat-toolbar>
    <mat-card class="my-card">
      <mat-card-content>
        <form class="my-form" [formGroup]="employeeService.form">
          <input type="hidden" formControlName="$key">
          <mat-form-field class="full-width" color="{{ env.themeColor }}">
            <mat-label>Hiring Manager*</mat-label>
            <input formControlName="hmanager" matInput placeholder="Hiring Manager"/>
            <mat-error>This field is mandatory</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" color="{{ env.themeColor }}">
            <mat-label>Supplier manager</mat-label>
            <input matInput formControlName="smanager"placeholder="Supplier Manager"/>
          </mat-form-field>

          <mat-form-field class="full-width" color="{{ env.themeColor }}">
            <mat-label>First Name*</mat-label>
            <input matInput formControlName="fname" placeholder="FirstName"/>
              <mat-error>This field is mandatory</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" color="{{ env.themeColor }}">
            <mat-label>Middle Name</mat-label>
            <input matInput formControlName="mname" placeholder="MiddleName" />
          </mat-form-field>

          <mat-form-field class="full-width" color="{{ env.themeColor }}">
            <mat-label>Last Name*</mat-label>
            <input matInput formControlName="lname" placeholder="LastName"/>
              <mat-error>This field is mandatory</mat-error>
          </mat-form-field>

          <mat-radio-group aria-label="Select an option" formControlName="option">
            <mat-radio-button value="1">Offshore</mat-radio-button>
            <mat-radio-button value="2">Onshore</mat-radio-button>
            <mat-error>This field is mandatory</mat-error>
          </mat-radio-group>

          <mat-form-field class="full-width" color="{{ env.themeColor }}">
            <mat-label>City*</mat-label>
            <input matInput formControlName="city" placeholder="City"/>
            <mat-error>This field is mandatory</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" color="{{ env.themeColor }}">
            <mat-label>State*</mat-label>
            <input matInput formControlName="state" placeholder="State"/>
            <mat-error>This field is mandatory</mat-error>
          </mat-form-field>

          <mat-form-field class="full-width" color="{{ env.themeColor }}">
            <mat-label>Contractor Role*</mat-label>
            <input matInput formControlName="crole" placeholder="ContractorRole"/>
            <mat-error>This field is mandatory</mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width" color="{{ env.themeColor }}">
            <mat-label>TCS Employee ID# / SSN# ( Last 4 Digit)*</mat-label>
            <input matInput
            placeholder="TCS Employee ID# / SSN# ( Last 4 Digit)"
            formControlName="eid"/>
            <mat-error *ngIf="employeeService.form.controls['eid'].errors?.required">This filed is mandatory.</mat-error>
            <mat-error *ngIf="employeeService.form.controls['eid'].errors?.minlength"> Min 6 characters needed</mat-error>
          </mat-form-field>
  
          <mat-form-field class="full-width" color="{{ env.themeColor }}">
            <mat-label>Level of Job</mat-label>
            <mat-select>
              <select matNativeControl required>
                <option value="L1">L1</option>
                <option value="L2">L2</option>
                <option value="L3">L3</option>
                <option value="L4">L4</option>
              </select>
            </mat-select>
          </mat-form-field>
        </form>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button type="submit" [disabled]="employeeService.form.invalid" color="{{ env.themeColor }}">Submit</button>
      </mat-card-actions>
    </mat-card>
  </div>
  